@model IEnumerable<GoGreenV3.Models.MarkerModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsControllable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsWorking)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsControllable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsWorking)
        </td>
        <td>
            <a href="@Url.Action("Edit", "Marker", new { id=item.Id })" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a href="@Url.Action("Details", "Marker", new { id=item.Id })" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-info-sign"></span>
            </a>
            <a href="@Url.Action("Delete", "Marker", new { id=item.Id })" class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </td>
    </tr>
}

</table>

@* CancelButton Modal *@
<div class="modal fade" id="cancelButton" tabindex="-1" role="dialog" aria-labelledby="cancelLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="cancelHeader"><span class="glyphicon glyphicon-question-sign"></span> Cancel</h4>
            </div>
            <div class="modal-body">
                Do you want to cancel adding of marker?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                @Html.ActionLink("Yes", "Index", "Home", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div>
